<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>

        <section id="payment">
            <group id="paywisepayment" translate="label" sortOrder="1" showInDefault="1" showInWebsite="1">
                <label>Paywise Payment Gatway</label>
                <comment><![CDATA[With a simple configuration, you can accept payments from cards to mobile money with Paywise.]]></comment>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Expanded</frontend_model>


                <field id="active" type="select" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1">
                    <label>Enabled</label>
                    <comment>Enable Paywise Payment Gateway as a payment option on the checkout page.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="title" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Add Payment Name</label>
                    <comment>This controls the title which the user sees during checkout.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="description" type="textarea" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1">
                    <label>Description</label>
                    <comment>This controls the description which the user sees during checkout.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="terminal_id" type="text" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1">
                    <label>Terminal Id</label>
                    <comment>Terminal ID given by Paywise.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="password" type="obscure" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1">
                    <label>Password</label>
                    <comment>This will be use for the payment description.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="api_url" type="text" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1">
                    <label>API URL</label>
                    <comment>Enable if need advanced prices from: Catalog Price Rules, Group or Tiered Pricing.</comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="cron_api_url" type="text" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1">
                    <label>CRON API URL</label>
                    <comment>Add cron url</comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="currencys" type="select" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1">
                    <label>Currency</label>
                    <comment>Select your currency.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="color" translate="label" sortOrder="8" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Color</label>
                    <!-- <validate>required-entry</validate> -->
                    <frontend_model>Paywise\Payment\Model\Config\Source\Colorpicker</frontend_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="background_color" translate="label" sortOrder="8" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Background color</label>
                    <frontend_model>Paywise\Payment\Model\Config\Source\Colorpicker</frontend_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="btntxtcolor" translate="label" sortOrder="8" type="text" showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Button Text color</label>
                    <frontend_model>Paywise\Payment\Model\Config\Source\Colorpicker</frontend_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="disableAddressParam" type="select" translate="label" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Address</label>
                    <comment>Click on check box for enable address param.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="enableDynamicBillingDescriptor" type="select" translate="label" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Dynamic Billing Descriptor</label>
                    <comment>Click on check box for enable billing descriptor.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="custom_file_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\File" sortOrder="6" showInDefault="1" showInWebsite="1" >
                    <label>Upload custom file</label>
                    <backend_model>Magento\Config\Model\Config\Backend\File</backend_model>
                    <upload_dir config="system" scope_info="1">services</upload_dir>
                </field>
            </group>
        </section>
    </system>
</config>
